html,body{
  margin:0;
  padding: 0;
  overflow-y: inherit;

}
h2,h1{
  font-family: Arial;
}
.logo-codein{
  background-image:url("https://pablopg03.github.io/assets/images/codein-logo.png");
  width: 75px;
  height: 75px;
  max-width: 75px;
  max-height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.logos > h1{
  font-family: Arial;
  color:#4e4e4d;
}
.trophy-content{
  display: flex;
align-items: center;
}
.opensource-content{
  margin-top: 20px;
  display: flex;
align-items: center;
}
.presentation-content{
  display: flex;
align-items: center;
}
.presentation{
  margin: 0 auto;
  margin-top: 5%;
  padding: 10px;
  width: 80%;
  height: 27%;
  background: #FFEB3B;
  box-shadow: 0px 1px 28px -13px #000;
right: 10%;
border-radius: 30px;
}
.presentation > h2{
  text-align: center;
  font-family: Arial;
  font-size: 2em;
}
.presentation > p{
  font-size: 1.25em;
  text-align: center;
  font-family: Arial;
}
.logos{
 display: flex;
 justify-content: space-between;
}
.summary{
  font-family: Arial;
  font-size: 3em;
  margin-left: 10%;
}
.trophy{
  width: 80%;
  height: 20%;
  background: #fff;
  box-shadow: 0px 1px 28px -13px #000;
  border-radius: 30px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.title{
  margin-left: 10px;
}
.opensource{
  width: 80%;
  height: 20%;
  background: #fff;
  box-shadow: 0px 1px 28px -13px #000;
  border-radius: 30px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.number{
  font-size: 2em;
  color:gold;
}
.trophy-icon{
  background-image:url("https://pablopg03.github.io/assets/images/trophy.png");
  width: 75px;
  height: 75px;
  max-width: 75px;
  max-height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.open-icon{
  background-image:url("https://pablopg03.github.io/assets/images/open-source.png");
  width: 75px;
  height: 75px;
  max-width: 75px;
  max-height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.logo-reformed{
  border-radius: 200px !important;
  margin:0 auto !important;
}
.logo-reformed::before{
  display:inline-block;
  height:75px;
  width:75px;
  margin-right: 5px;
  content: "";
  background:url("https://pablopg03.github.io/assets/images/crown.png") no-repeat 0 0;
  background-size: 75px 75px;
  position: relative;
  transform: rotate(-25deg);
  top: -40px;
  left: -20px;
}
.logo-openmrs{
  background-image:url("https://pablopg03.github.io/assets/images/openmrs-logo.jpg");
  width: 75px;
  height: 75px;
  max-width: 75px;
  max-height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.logo-openmrs > h1 {
  margin-left: 85px;
}
header{
  background: #ffffff;
  box-shadow: 0px 2px 5px -2px #000;
  width: 80%;
  padding: 15px;
  border-radius: 15px;
  margin:0 auto;
  height: 75px;
}
.footer{
  margin: 0 auto;
  width: auto;
  padding: 10%;
  background: #1976d2;
  margin-top: 20px;
}
.user-profile{
  max-width: 75px;
  max-height: 75px;
  border-radius: 200px;
  margin: 0 auto;
  margin-top: 0px;
}
.account > h2{
  text-align: center;
  font-size: 2em;
  color: #fff;
  margin: 10px;
}
.account-section{
  display: flex;
  justify-content: center;
}
.account-box{
  max-width: 500px;
  margin:0 auto;
  width: 80%;
  height: 20%;
  display: inline-flex;
  justify-content: space-around;

}
.account{
  display: grid;
  margin-top: 40px;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px -5px #000;
  background: #7e57c2;
}
.org{
  margin-top: 40px;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px -5px #000;
  background: #388e3c;
}
.org > h2{
  color:#fff;
}
.content{
    height: 100vh;
}
@media (max-width: 700px) {
  .content{
    min-width: 600px;
    width: inherit;
    height: 100vh;
  }
}
